* {
    box-sizing: border-box; /*border y padding cuente como anchura*/
    font-family:'Raleway', sans-serif !important;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}
