.grid {
    display:flex;
    flex-wrap: wrap;
    margin-left: -1em;
}


.grid > * {
    margin-left: 1em;
}


.col-1 {
    width: calc(8.33% - 1em);
}

.col-2 {
    width: calc(16.66% - 1em);
}

.col-3 {
    width: calc(25% - 1em);
}

.col-4 {
    width: calc(33.33% - 1em);
}

.col-5 {
    width: calc(41.66% - 1em);
}

.col-6 {
    width: calc(50% - 1em);
}

.col-7 {
    width: calc(58.33% - 1em);
}

.col-8 {
    width: calc(66.66% - 1em);
}

.col-9 {
    width: calc(75% - 1em);
}

.col-10 {
    width: calc(83.33% - 1em);
}

.col-11 {
    width: calc(91.66% - 1em);
}

.col-12 {
    width: calc(100% - 1em);
}


@media (min-width: 768px) { /* de 768px a infinito*/
    .col-desk-1 {
        width: calc(8.33% - 1em);
    }

    .col-desk-2 {
        width: calc(16.66% - 1em);
    }

    .col-desk-3 {
        width: calc(25% - 1em);
    }

    .col-desk-4 {
        width: calc(33.33% - 1em);
    }

    .col-desk-5 {
        width: calc(41.66% - 1em);
    }

    .col-desk-6 {
        width: calc(50% - 1em);
    }

    .col-desk-7 {
        width: calc(58.33% - 1em);
    }

    .col-desk-8 {
        width: calc(66.66% - 1em);
    }

    .col-desk-9 {
        width: calc(75% - 1em);
    }

    .col-desk-10 {
        width: calc(83.33% - 1em);
    }

    .col-desk-11 {
        width: calc(91.66% - 1em);
    }

    .col-desk-12 {
        width: calc(100% - 1em);
    }
}

@media (min-width: 500px) and (max-width:767px) { /* de 500px a 767px */
    .col-tab-1 {
        width: calc(8.33% - 1em);
    }

    .col-tab-2 {
        width: calc(16.66% - 1em);
    }

    .col-tab-3 {
        width: calc(25% - 1em);
    }

    .col-tab-4 {
        width: calc(33.33% - 1em);
    }

    .col-tab-5 {
        width: calc(41.66% - 1em);
    }

    .col-tab-6 {
        width: calc(50% - 1em);
    }

    .col-tab-7 {
        width: calc(58.33% - 1em);
    }

    .col-tab-8 {
        width: calc(66.66% - 1em);
    }

    .col-tab-9 {
        width: calc(75% - 1em);
    }

    .col-tab-10 {
        width: calc(83.33% - 1em);
    }

    .col-tab-11 {
        width: calc(91.66% - 1em);
    }

    .col-tab-12 {
        width: calc(100% - 1em);
    }
}


@media (max-width: 499px) { /* de 0 a 499px */
    .col-mob-1 {
        width: calc(8.33% - 1em);
    }

    .col-mob-2 {
        width: calc(16.66% - 1em);
    }

    .col-mob-3 {
        width: calc(25% - 1em);
    }

    .col-mob-4 {
        width: calc(33.33% - 1em);
    }

    .col-mob-5 {
        width: calc(41.66% - 1em);
    }

    .col-mob-6 {
        width: calc(50% - 1em);
    }

    .col-mob-7 {
        width: calc(58.33% - 1em);
    }

    .col-mob-8 {
        width: calc(66.66% - 1em);
    }

    .col-mob-9 {
        width: calc(75% - 1em);
    }

    .col-mob-10 {
        width: calc(83.33% - 1em);
    }

    .col-mob-11 {
        width: calc(91.66% - 1em);
    }

    .col-mob-12 {
        width: calc(100% - 1em);
    }
}