/* barra de navegación */

.nav-main{
    background-color: rgb(243, 184, 56);
    padding: .5em;
}
.nav-main ul {
    display: flex;
    color: grey;    
}

.nav-main li {
    margin-right: .5em;      
}

.nav-main li:last-child {
    margin-right: 0;
}

.nav-main a {
    color: black;
}

.nav-main a:hover {
    text-decoration: underline;
}

.nav-main .separator {
    color:rgb(10, 136, 125) ;
}