*{box-sizing: border-box}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    background-color: coral;
    display: flex;
}

section {
    background-color: red;
    width: 70%;
    height: 300px;
}

aside {
    background-color: blue;
    width:30%;
    height: 300px;
    flex-shrink: 0;
}