* {box-sizing: border-box;}

.padre {   
    background-color: blue;
    height: 500px;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-items: center; */
    
}

.hijo {
    border: 1px solid black;
    background-color: yellow;
    width: 100px; 
    height: 100px;
    /* flex-grow: 0; por defecto 0 */   
    /* flex-shrink: 0; por defecto 1 */
    /*flex-basis:100px; */
   
   
    /* flex-basis: 100px;*/ /* = width (row)  height (column) */
    /* width: 100px; */
    /* heigth: 100px; */

}
.abajo {
    align-self: flex-end;
}
